name: publish-docs

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  publish-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install docs dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[docs]"
          python -m pip install --upgrade awscli

      - name: Build docs
        run: |
          make docs

      - name: Upload docs to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          S3_BASE_URL: ${{ secrets.S3_BASE_URL }}
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
        run: |
          aws s3 sync docs "s3://${S3_BUCKET_NAME}/" --delete --endpoint-url "${S3_BASE_URL}"
